/* Fonts */

/* Reset */
*, 
::after,
::before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* ------------------ Variables ------------------ */
:root {
  /* ===================== Colors ===================== */
  /* primary */

  /* default */
  --white: #fff;
  --black: #000;

  /* fonts */
  --headingFont: 'Spectral', serif;
  --bodyFont: 'Karla', sans-serif;
  --smallText: 0.7em;

  /*  */
  --container-width-lg: 76%;
  --container-width-md: 85%;
  --container-width-sm: 90%;

  /* rest vars */
  --borderRadius: 1rem;
  --transition: all 400ms ease;
}

/* ------------------ Utility Classes ------------------ */


body {
  /* font-family: var(--bodyFont); */
  line-height: 1.7;
  color: #fff;
  background: #222;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
 line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
  color: red;
}

h2 {
  font-size: 2rem;
  color: red;
}

h3 {
  font-size: 1.6rem;
}
h1 {
  font-size: 1.3rem;
}

a {
  color: white;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
  margin-bottom: 0.7rem;
  border-radius: 1.5rem;
}

.container {
  width: var(--container-width-sm);
  margin: 0 auto;
}

#main__glitch {
  min-height: calc(100vh - (6rem + 4rem));
}

section {
  padding: 1.5rem 0;
}

section h1, section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

/* buttons */
.btn {
  display: inline-block;
  color: var(--white);
  background: red;
  border: 1px solid transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.6rem 1.25rem;
  margin: 1.15rem 0;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  cursor: pointer; 
}

.btn:hover {
  background: transparent;
  color: var(--white);
  font-weight: 500;
  border-color: var(--white);
}

.btn-block {
  width: 100%;
}
.active {

}

/* form */
/* =================== Header Styles =================== */

/* 
==================
Navbar
==================
*/

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: blue; */
  margin-top: 0;
}

.nav-center {
  width: 90vw;
  max-width: var(--max-width);
  /* background: red; */
}
.nav-header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav header a {
  width: 200px;
}

.nav-btn  {
  padding: 0.15rem 0.75rem;
}

.nav-btn i {
  font-size: 1.25rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  /* todo */
  height: 0;
  overflow: hidden;
  transition: var(--transition)
}

.show-links {
  height: 350px;
}

.nav-link {
  display: block;
  text-align: center;
  text-transform: capitalize;
  /* color: ; */
  /* letter-spacing: ; */
  padding: 1rem 0;
  border-top: 1px solid red;
  /* transition: ; */
}

.nav-link:hover {
  color: red;
}


/* ------------------ main section ------------------ */
/* 
==================
Index
==================
*/

.hero-section {

}

.hero__container {
  margin-bottom: 5rem;
}

.hero__container p {
  margin-bottom: 0.5rem;
}
.hero-left-image {
  margin-bottom: 3rem;
}
.iam-glitch {
  opacity: 0.7;
  border-radius: 0.25rem;
  border-top-right-radius: 15% 15%;
  border-top-left-radius: 15% 15%;
}

.drop-cap::first-letter {
  color: red;
  font-size: 80px;
  padding-right: 8px;
  float: left;
  line-height: 0.9;
  font-family: Georgia;
}

.hero-section-right .strong {
  color: red;
  font-weight: bold;
}

.booking {
  padding: 0 auto;
}

.values__container {
  height: 70vh;
}

.value__content {
  margin: 1.5rem 0;
}

.value-title {
  text-align: center;
}

@media screen and (min-width:48em) {
  .hero__container {
   width: var(--container-width-lg);
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    gap: 4rem;
  }

  .hero-section-right {
    margin-top: -1.4rem;
  }
 
  .values__container {
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }

  .faqs__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .faq {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: fit-content;
  background: ;
  cursor:pointer;
  }
  
}


/* 
==================
Footer
==================
*/

.footer__container {
  height: 4rem;
  /* text-align: center; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.footer__copyright {
  color: red;
}
/* 
==================
About
==================
*/



/* 
==================
Services
==================
*/

.services__container {
  
}

.service {
  text-align: center;
}

.service__info {
  padding: 2rem;
}

.service__info p {
  margin: 1.2rem 0 2rem;
}

@media screen and (min-width:48em) {
  .services__container {
   width: var(--container-width-lg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* align-items: center; */
    gap: 2rem;
  }
  .service {
    text-align: center;
  }

  .service__info {
    padding: 2rem;
  }

/* 
==================
Models
==================
*/

.gallery {
 
}

.gallery p {
  text-align: center;
}

/* 
==================
Portfolio
==================
*/

/* 
==================
Contact
==================
*/

